<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qiantai.menu.dao.OrderDao">

    <insert id="addOrder">
        insert into order_table(order_id, table_id, mem_id, price) VALUES (#{param1},#{param2},#{param3},#{param4})
    </insert>
</mapper>
